_site/
_site_baseline/
data/parquet/
data/analytics/*.json
node_modules/
var/
.lycheecache
.boundaries-scratch/
# Former Git LFS directories: images are now served from CDN, not stored in this repo
images/
!src/**/images/
plates/
cdn-old-locations.txt
cdn-bad-slug-old-locations.txt

wwu-urls.txt
