---
layout: base.njk
title: "Search -- PNW Moths"
permalink: /search/index.html
---
<h1>Search</h1>
<p>Use the search field in the navigation bar above to find species and glossary terms.</p>
<noscript data-pagefind-ignore>
  <p>Search requires JavaScript. <a href="{{ '/browse/' | url }}">Browse all species</a> instead.</p>
</noscript>
