---
layout: base.njk
title: PNW Moths
permalink: /index.html
---
<h1>PNW Moths</h1>
<p>A natural history catalog of Pacific Northwest moths. Browse by family and genus, search by name, or look up terms in the glossary.</p>
<ul>
  <li><a href="{{ '/browse/' | url }}">Browse all species</a></li>
  <li><a href="{{ '/search/' | url }}">Search</a></li>
  <li><a href="{{ '/glossary/' | url }}">Glossary</a></li>
</ul>
