---
layout: base.njk
title: Browse — PNW Moths
permalink: /browse/index.html
---
<h1>Browse all species</h1>
{% set currentFamily = "" %}
{% for genus in families.genera %}
  {% if genus.family != currentFamily %}
    {% set currentFamily = genus.family %}
    <h2>{{ genus.family }}</h2>
  {% endif %}
  <h3><a href="{{ ('/browse/' + genus.genus_slug + '/') | url }}">{{ genus.genus }}</a></h3>
{% endfor %}
